h1,
h2,
h3,
h4,
h5,
ul,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--main-color);
  background-color: var(--main-white-color);
}

:root {
  --brend-color: #2196f3;
  --brend-color-active: #188ce8;
  --main-color: #757575;
  --second-color: #212121;
  --main-white-color: #fff;
  --second-white-color: #f5f4fa;
  --main-black-color: #000;
  --hero-background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --header-border-bottom: #ececec;
  --cards-border-color: #eeeeee;
  --items-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --border-radius: 4px;
  --icons-border-radius: 50%;
  --cards-radius: 0px 0px 4px 4px;
  --box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --cards-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .section {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .section {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 100%;
  }
}

.section.no-padding {
  padding-top: 0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-black-color);
}
.logo__web {
  color: var(--brend-color);
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-color);
}

.main__button {
  padding: 10px 32px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--brend-color);
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}
.main__button:hover, .main__button:focus {
  background-color: var(--brend-color-active);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: var(--icons-border-radius);
  fill: var(--items-color);
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}
.social__join-link:hover, .social__join-link:focus {
  fill: var(--main-white-color);
  background-color: var(--brend-color);
}

.mailing {
  margin-left: auto;
}

.mailing__label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.mailing__form {
  display: block;
}
@media screen and (max-width: 1199px) {
  .mailing__form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__form {
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing__form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__form-field {
    display: flex;
    flex-direction: column;
  }
}

.mailing__input {
  color: var(--second-white-color);
  width: 450px;
  height: 50px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic);
}
.mailing__input:hover, .mailing__input:focus {
  border-color: var(--brend-color);
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.mailing-button {
  position: relative;
  display: inline-flex;
  padding: 10px 10px 10px 28px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--brend-color);
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}
.mailing-button:hover, .mailing-button:focus {
  background-color: var(--brend-color-active);
}

.mailing-button__icon {
  position: absolute;
  top: 12px;
  right: 28px;
  width: 24px;
  height: 24px;
}

.page-header {
  position: relative;
  border-bottom: 1px solid var(--header-border-bottom);
}
@media screen and (max-width: 480px) {
  .page-header {
    width: 480px;
  }
}

.container--main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav--current {
  color: var(--brend-color);
  position: relative;
}

.site-nav--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--brend-color);
  border-radius: 2px;
  -webkit-animation-name: current-anima;
          animation-name: current-anima;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: var(--cubic);
          animation-timing-function: var(--cubic);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes current-anima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes current-anima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms var(--cubic);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--brend-color);
}

.header-contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-contacts__item + .header-contacts__item {
    margin-left: 40px;
  }
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts__mail-link,
.header-contacts__phone-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms var(--cubic);
}
.header-contacts__mail-link:hover, .header-contacts__mail-link:focus, .header-contacts__mail-link:hover, .header-contacts__mail-link:focus,
.header-contacts__phone-link:hover,
.header-contacts__phone-link:focus,
.header-contacts__phone-link:hover,
.header-contacts__phone-link:focus {
  color: var(--brend-color);
}

.nav-hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-hide {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  outline: none;
  transition: color 250ms var(--cubic);
}
.menu-button:hover .switch, .menu-button:focus .switch {
  fill: var(--brend-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .page-header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.switch {
  z-index: 3;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 84px 48px 40px;
  width: 100%;
  height: 100vh;
  outline: solid 1px red;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.mobile.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--cubic);
}
.menu-mobile__link:hover, .menu-mobile__link:focus {
  color: var(--brend-color);
}

.mobile-contacts-box {
  margin-top: auto;
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}
.mobile-contacts__item:last-child {
  margin-bottom: 64px;
}
.mobile-contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}
.mobile-contacts__link--email {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mobile-socials {
  display: flex;
}
.mobile-socials__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__item:last-child {
  border: none;
}
.mobile-socials__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}

.hero .container {
  width: 480px;
}
@media screen and (min-width: 768px) {
  .hero .container {
    width: 768px;
  }
}

.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-header@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet-header.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet-header@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop-header.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop-header@2x.jpg");
  }
}
.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: var(--border-radius);
  background-color: var(--second-white-color);
}
@media screen and (min-width: 768px) {
  .features__icon-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon-box {
    width: 270px;
  }
}

.features__item {
  width: 450px;
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
}

.features__text {
  line-height: 1.71;
  color: var(--main-color);
}

.features__icon {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--second-white-color);
  border-radius: var(--border-radius);
}

.speciality {
  display: none;
}
@media screen and (min-width: 1200px) {
  .speciality {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .speciality__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.speciality__item {
  position: relative;
}

.speciality__title-box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.speciality__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14em;
  text-align: center;
  color: var(--main-white-color);
}

.team {
  background-color: var(--second-white-color);
}
.team .socials {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: var(--main-white-color);
  box-shadow: var(--cards-shadow);
  border-radius: var(--cards-radius);
}
@media screen and (max-width: 767px) {
  .team__item {
    width: 450px;
    height: 622px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 12px;
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  text-align: center;
  color: var(--main-color);
}

.costomers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.costomers__item {
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .costomers__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .costomers__item {
    width: 170px;
  }
}

.costomers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);
}
.costomers__link:hover, .costomers__link:focus {
  border-color: var(--brend-color);
  fill: var(--brend-color);
}

.footer {
  width: 480px;
  background-color: var(--hero-background-color);
}
.footer__box {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    align-items: baseline;
  }
}
.footer__logo {
  margin-bottom: 28px;
  color: var(--main-white-color);
}
.footer__mail-link, .footer__phone-link {
  line-height: 1.71;
  color: var(--contacts-color);
  transition: color 250ms var(--cubic);
}
@media screen and (min-width: 480px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts-adding {
    display: flex;
    justify-content: baseline;
    padding-left: 61px;
    padding-right: 74px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts-adding {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

.logo--studio {
  color: var(--main-white-color);
}

.address__link {
  line-height: 1.71;
  color: var(--main-white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__mail-link:hover, .footer__mail-link:focus, .footer__mail-link:hover, .footer__mail-link:focus,
.footer__phone-link:hover,
.footer__phone-link:focus,
.footer__phone-link:hover,
.footer__phone-link:focus {
  color: var(--brend-color);
}

.social__join-link--footer {
  width: 44px;
  height: 44px;
  fill: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}

.adding {
  text-align: center;
}
.adding__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
@media screen and (max-width: 767px) {
  .adding {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .adding {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .adding {
    text-align: left;
    margin-left: 70px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background: var(--main-white-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--icons-border-radius);
  background-color: var(--main-white-color);
  cursor: pointer;
}
.close-button__icon {
  width: 100%;
  height: 100%;
  fill: #000;
  transition: fill 250ms var(--cubic);
}
.close-button:hover .close-button__icon, .close-button:focus .close-button__icon {
  fill: var(--brend-color);
}

.callback {
  padding: 40px;
}

.callback__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--main-color);
}
.callback__form-field:focus-within .callback__icons, .callback__form-field:hover .callback__icons, .callback__form-field:focus .callback__icons {
  fill: var(--brend-color);
}
.callback__form-field:nth-child(5) {
  margin-bottom: 20px;
}

.callback__label:not(:last-child) {
  margin-bottom: 4px;
}

.callback__input-place {
  position: relative;
}

.callback__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}
.callback__input:hover, .callback__input:focus {
  border-color: var(--brend-color);
}

.callback__icons {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.callback__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--second-color);
}

.callback__textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color 250ms var(--cubic);
}
.callback__textarea:hover, .callback__textarea:focus {
  border-color: var(--brend-color);
}

.accept__field {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .accept__field {
    justify-content: center;
  }
}

.accept__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.accept__checkbox:checked + .accept__icon {
  background-image: url(../images/icon-check-bg.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-color: var(--brend-color);
}

.accept__icon {
  display: block;
  transition: background-image 250ms var(--cubic);
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

.accept__title {
  margin-left: 8px;
  font-size: 12px;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .accept__title {
    font-size: 14px;
  }
}

.accept__contract-link {
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--brend-color);
}

.main__button--modal-position {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 320px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .projects__item + .projects__item {
    margin-left: 8px;
  }
}

.projects-list__button {
  padding: 6px 22px;
  border: none;
  border-radius: var(--border-radius);
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--second-color);
  background-color: var(--second-white-color);
  cursor: pointer;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}
.projects-list__button:hover, .projects-list__button:focus {
  background-color: var(--brend-color);
  color: var(--main-white-color);
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 768px) {
  .projects-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.projects-cards__discriptions {
  padding: 20px 24px;
  border-bottom: 1px solid var(--cards-border-color);
  border-right: 1px solid var(--cards-border-color);
  border-left: 1px solid var(--cards-border-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-cards__item:first-child .projects-cards__discriptions {
    padding: 20px 24px 56px;
  }
}

.projects-cards__item {
  position: relative;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .projects-cards__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-cards__item {
    width: 370px;
  }
}

.projects-cards__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}
.projects-cards__link:hover, .projects-cards__link:focus {
  box-shadow: var(--box-shadow);
}
.projects-cards__link:hover .projects-cards__actions, .projects-cards__link:focus .projects-cards__actions {
  transform: translateY(0);
}
@media screen and (max-width: 768px) {
  .projects-cards__link {
    margin-bottom: 30px;
  }
}

.projects-cards__title {
  max-width: 322px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.projects-cards__subtitle {
  color: var(--main-color);
  max-width: 322px;
  font-size: 16px;
  line-height: 1.88;
}

.projects-cards__thumb {
  position: relative;
  overflow: hidden;
}

.projects-cards__actions {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  margin-left: auto;
  margin-right: auto;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-white-color);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}/*# sourceMappingURL=main.css.map */