.page-header {
  
  border-bottom: 1px solid var(--header-border-bottom);
}

.container--main-navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header__navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;

    &__item + &__item {
      margin-left: 50px;
    }
  }
}

.site-nav--current {
  color: var(--brend-color);
  position: relative;
}
.site-nav--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  width: 100%;
  height: 4px;

  background-color: var(--brend-color);
  border-radius: 2px;

  animation-name: current-anima;
  animation-duration: 250ms;
  animation-timing-function: var(--cubic);
  animation-iteration-count: 1;
}
@keyframes current-anima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
.site-nav__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-color);

  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--brend-color);
  }
}

.header-contacts {
  display: block;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    display: none;
    align-items: center;
  }
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts__mail-link,
.header-contacts__phone-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--brend-color);
  }
}
.nav-hide {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.menu-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 3;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  outline: none;

  transition: color 250ms var(--cubic);

  &:hover .switch,
  &:focus .switch {
    fill: var(--brend-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-header__mobile {
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.switch {
  z-index: 3;
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.mobile {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  padding: 48px 84px 48px 40px;

  width: 100%;
  height: 796px;
  outline: solid 1px red;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  z-index: 2;

  &.is-open {
    display: block;
  }
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--brend-color);
  }
}
.mobile-contacts {
  margin-top: 306px;
  &__item:first-child {
    margin-bottom: 32px;
  }
  &__item:last-child {
    margin-bottom: 64px;
  }
  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;

    letter-spacing: 0.02em;

    color: var(--brend-color);
  }
  &__link--email {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--main-color);
  }
}

.mobile-socials {
  display: flex;
  &__item {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__item:last-child {
    border: none;
  }
  &__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: var(--brend-color);
  }
}
