.projects-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.projects__item + .projects__item {
  margin-left: 8px;
}
.projects-list__button {
  padding: 6px 22px;
  border: none;
  border-radius: var(--border-radius);

  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--second-color);
  background-color: var(--second-white-color);

  cursor: pointer;

  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--brend-color);
    color: var(--main-white-color);
    box-shadow: var(--box-shadow);
  }
}
