a {
    text-decoration: none;
    font-style: normal;
  }
  li {
    list-style-type: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
  
    color: var(--main-color);
    background-color: var(--main-white-color);
  }